 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>My name is Samuel Katz. I am a Computer Science honors student at the University of Texas at Dallas, intending to graduate in the Spring 2018. My various interests include Game Design, Artificial Intelligence, politics, and an occasional game of D&D.</p>
                </div>
                <div class="col-lg-4">
                    <p>Whether you're a prospective employer, a fellow student looking to collaborate on an interesting project, or just a random stranger with an internet connection, feel free to send me an email. </p>
                </div>
            </div>
        </div>
    </section>